#main-header {
  border-bottom: 1px solid #323031;
}

#main-header nav ul {
  padding-left: 0px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#main-header nav ul li {
  list-style: none;
}

#main-header nav ul li a {
  color: #084C61;
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#main-header nav ul li a:hover {
  color: #FFC857;
}

#main-header nav ul li img {
  max-height: 80px;
}
