@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Roboto:wght@500&display=swap');

#main-header img {
  max-height: 80px;
}

#number-night-container button {
  display: inline;
}

#night {
  display: inline;
}

#login > button,
#login > form > button,
.form > form > button,
.form > form > label > button {
  background-color: #323031;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

#main-header {
  border-bottom: 1px solid #323031;
  font-family: 'Roboto', sans-serif;
}

#home {
  background-color: #C4C4C4;
}

@media screen and (max-width: 725px) {


  .rdrCalendarWrapper {
    /* width: 280px; */
    width: calc(100% / 5 * 4);
  }

  .rdrMonth {
    padding: 0px !important;
    width: 100% !important;
    /* height: 350px; */
  }

  #main-header nav {
    height: 80px;
    display: flex;
    background-color: #177e89;
    justify-content: space-between;
  }

  #main-header nav ul {
    background-color: #177e89;
    color: #323031;
    list-style: none;
    display: block;
    position: absolute;
    top: 80px;
    right: 0px;
    margin: 0px;
    padding: 20px;
  }

  #main-header nav ul li {
    padding-bottom: 25px;
    font-size: 18px;
  }

  #main-header nav ul li a {
    text-decoration: none;
    color: #323031;
  }

  #logout {
    margin: 0px;
  }

  #login,
  .form
  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #C4C4C4;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
  }

  #login h1,
  .form h1
  {
    margin: 0px;
    padding-top: 30px;
    font-weight: 100;
    font-size: 32px;
  }

  #login form label p,
  .form form label p
  {
    margin: 0px;
    padding-top: 30px;
  }

  #login > button {
    padding: 8px 20px 8px 20px;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  #login form button,
  .form > form > button
  /* .form form button */
  {
    margin-top: 40px;
  }

  .form {
    padding-bottom: 60px;
  }

  #hotel_page {
    background-color: #177e89;
    color: white;
  }

  #hotel_page img {
    max-width: 100%;
  }

  #hotel_page h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 48px;
    margin: 0px;
    padding-top: 51px;
    padding-bottom: 51px;
  }

  .room {
    background-color: #084C61;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .room p {
    margin: 0px;
    padding-bottom: 20px;
  }

  #home h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin: 0px;
    padding-top: 100px;
  }

  #home h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 36px;
    margin: 0px;
    padding-bottom: 100px;
  }

  #hotel-list a {
    text-decoration: none;
  }

  #hotel-list a article,
  #manage-user article
  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #084C61;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #hotel-list a article p,
  #manage-user article p
  {
    margin: 0px;
  }
}



@media screen and (min-width: 726px) {

  #main-header nav ul {
    padding-left: 0px;
    padding-right: 20px;
    margin: 0px;
    align-items: center;
    display: flex;
    background-color: #177e89;
    justify-content: space-between;
  }

  /* delete when all link and button for menu work */
  #main-header nav ul li {
    color: #323031;
    list-style: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #main-header nav ul li:hover {
    color: #FFC857;
  }

  #main-header nav ul li a {
    color: #323031;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #main-header nav ul li a:hover {
    color: #FFC857;
  }

  #button-logout {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
  }

  #button-logout {
    color: #084C61;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #button-logout:hover {
    color: #FFC857;
  }

  #main-header img {
    max-height: 80px;
  }

  #login,
  .form
  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #C4C4C4;
    margin: 70px 200px 100px 200px;
    text-align: center;
  }

  #login h1,
  .form h1
  {
    margin: 0px;
    padding-top: 30px;
    font-weight: 100;
    font-size: 32px;
  }

  #login form label p,
  .form form label p
  {
    margin: 0px;
    padding-top: 30px;
  }

  #login > button {
    padding: 8px 20px 8px 20px;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  #login > form > button,
  .form > form > button
  {
    margin-top: 40px;
  }

  .form {
    padding-bottom: 60px;
  }

  #hotel_page {
    background-color: #177e89;
    color: white;
  }

  #hotel_page header {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  #hotel_page header button {
    height: 35px;
  }

  #hotel_page img {
    max-width: 50%;
    max-height: 500px;
  }

  #hotel_page h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 48px;
    margin: 0px;
    padding-top: 51px;
    padding-bottom: 51px;
  }

  .room {
    background-color: #084C61;
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid white;
  }

  .room div {
    max-width: 50%;
    margin: 0px;
  }

  .room p {
    margin: 0px;
    padding-bottom: 20px;
  }

  #css-test {
    width: 30%;
    height: 40%;
    margin: 0px;
    border-left: 1px solid white;
  }

  #home h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin: 0px;
    padding-top: 100px;
  }

  #home h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 36px;
    margin: 0px;
    padding-bottom: 100px;
  }

  #hotel-list a {
    text-decoration: none;
  }

  #hotel-list div {
    float: left;
    width: calc(50% - 5px);
    margin-bottom: 5px;
    margin-right: 5px;
  }

  #hotel-list a article,
  #manage-user article
  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #084C61;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #hotel-list a article p,
  #manage-user article p
  {
    margin: 0px;
  }

  #red p {
    display: inline;
    background-color: coral;
    padding-left: 110px;
    padding-right: 110px;
  }

  #green p {
    display: inline;
    background-color: lightgreen;
    padding-left: 129px;
    padding-right: 129px;
  }
}

